@inject VaultService VaultService

<MudDialog>
    <DialogContent>
        <MudCard>
            <MudCardContent>
                <!-- Split card into two sides -->
                <MudGrid>
                    <MudItem xs="6">
                        <!-- Display full Dweller details here -->
                        <MudText>Name: @Dweller.Name</MudText>
                        <MudText>Gender: @Dweller.Gender</MudText>
                        <div style="display: flex; align-items: center; height: 50px;">
                            <MudText Align="Align.Center" style="margin-right: 10px; height: 50px">SPECIAL:</MudText>
                            <SpecialComponent Stats="@Dweller.stats" />
                        </div>
                        <MudText>Level: @Dweller.experience.currentLevel</MudText>
                        <MudText>Age: @Dweller.health</MudText>
                        <MudText>Experience: @Dweller.experience.experienceValue</MudText>
                        <MudText>Wasteland Experience: @Dweller.experience.wastelandExperience</MudText>
                        <MudText>Health: <HealthComponent DwellerHealth="Dweller.health" /></MudText>
                        <MudText>Room: @(VaultService.GetRoom(Dweller.AssignedRoom)?.type ?? "Coffee Break")</MudText>
                    </MudItem>
                    <MudItem xs="6">
                        <MudText Typo="Typo.h5">Parents</MudText>
                        <MudText>Mother: @(Dweller.Mother?.Name ?? "Lost in Great War")</MudText>
                        <MudText>Father: @(Dweller.Father?.Name ?? "Lost in Great War")</MudText>

                        <MudText Typo="Typo.h5">Children</MudText>
                        @if (Dweller.Children.Count > 0)
                        {
                            @foreach (var child in Dweller.Children)
                            {

                                <MudText>
                                    Name: @child.Name
                                    @if (Dweller._gender == 2 && child.Mother != null)
                                    {
                                        <MudText Inline>&nbsp;(Mother: @child.Mother?.Name)</MudText>
                                    }
                                    else if (Dweller._gender == 1 && child.Father != null)
                                    {
                                        <MudText Inline>&nbsp;(Father: @child.Father?.Name)</MudText>
                                    }
                                </MudText>
                            }
                        }
                        else
                        {
                            <MudText>No Children</MudText>
                        }
                    </MudItem>
                </MudGrid>

            </MudCardContent>
            <MudCardActions>
                <MudButton Color="Color.Primary" OnClick="PreviousDweller" Disabled="@(_current == 0)">Previous</MudButton>
                <MudButton Color="Color.Primary" OnClick="NextDweller" Disabled="@(_current == Dwellers.Length - 1)">Next</MudButton>
            </MudCardActions>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDialog" Variant="Variant.Filled">Close</MudButton>
    </DialogActions>
</MudDialog>

<style>
    .rtl-progress .mud-progress-linear-bar {
        transform: scaleX(-1);
    }

    .mud-tooltip-root.mud-tooltip-inline {
        display: unset;
        width: 100%;
    }

    .special {
        padding: 5px 0 0 0;
        height: 65px;
    }
</style>

@code {
    [CascadingParameter, EditorRequired]
    private MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter, EditorRequired]
    public int DwellerId { get; set; }

    [Parameter, EditorRequired]
    public Dweller[] Dwellers { get; set; } = null!;

    private int _current = 0;
    private Dweller Dweller { get { return Dwellers[_current]; } }

    protected override void OnInitialized()
    {
        _current = Array.FindIndex(Dwellers, i => i.serializeId == DwellerId);
    }

    private void NextDweller()
    {
        if (_current < Dwellers.Length)
        {
            _current++;
            StateHasChanged();
        }
    }

    private void PreviousDweller()
    {
        if (_current > 0)
        {
            _current--;
            StateHasChanged();
        }
    }

    private void CloseDialog() => MudDialog.Close(DialogResult.Ok(true));
}
